.parent{
    background-color: #aacefa;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textarea{
    font-size: 1rem;
    width: 300px;
    max-width: 90vw;    
    height: 300px;
    resize: vertical;
    background-color: #ddd9;
    backdrop-filter: blur(10px);
    outline: none;
}
.finalText{
    background-color: #ddd5;
    backdrop-filter: blur(20px);
    border: 2px solid #fffb;
    width: 90vw;
    min-height: 100vh;
    margin: 20px;
}
.titlePreview{
    background-color: #06f;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
}
.titleTextbox{
    width: 300px;
    max-width: 90vw;
    margin: 10px 35vw 0 35vw;
    padding: 5px 1px 5px 5px;
    color: #fff;
    background-color: #06f;
}
.title1{
    font-size: 2.5rem;
    border-bottom: 3px solid black;
    margin: 5px;
}
.title2{
    font-size: 2.25rem;
    border-bottom: 1px solid black;
    margin: 5px;
}
.title3{
    font-size: 2rem;
    margin: 3px;
}
.blockQuote{
    margin: 5px 0 5px 20px;
    padding: 5px;
    border-left: 3px solid rgb(0, 73, 38);
    color:rgb(0, 73, 38);
}